.custom-header {
    position: relative;
    width: 100%;
    height: 85vh;

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .header-content {
        height: 100%;
        width: 100%;
    }

    hr {
        margin-top: 0;
    }

    h1 {
        font-family: 'Maru-Regular';
        font-weight: 400;
        font-size: 9rem;
        line-height: 0.90em;
        /* Tamaño original para dispositivos grandes */

        @media (max-width: 992px) {
            font-size: 6rem;
            /* Tamaño para dispositivos de tamaño medio (md) */
        }

        @media (max-width: 768px) {
            font-size: 4rem;
            /* Tamaño para dispositivos pequeños (sm) */
        }
    }

    .position {
        font-size: 2em;
        font-family: 'Maru-Light';
    }
}

.accordion {
    font-family: 'Maru-Light';
}

button {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}


.ui-word {
    font-family: 'Maru-LightItalic';
    color: grey;
}