@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Maru-Light';
  src: url('Fonts/PPNikkeiMaru-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Maru-LightItalic';
  src: url('Fonts/PPNikkeiMaru-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Maru-Regular';
  src: url('Fonts/PPNikkeiMaru-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Maru-RegularItalic';
  src: url('Fonts/PPNikkeiMaru-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Maru-UltraBold';
  src: url('Fonts/PPNikkeiMaru-Ultrabold.otf') format('opentype');
}

@font-face {
  font-family: 'Maru-UltraBoldItalic';
  src: url('Fonts/PPNikkeiMaru-UltraboldItalic.otf') format('opentype');
}

#root {
  font-family: 'Maru-Regular', sans-serif;
}


@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.animateIn {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}



:root {
  --bg-opacity: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-image: url('https://pangrampangram.com/cdn/shop/files/PPNikkeiWebsiteCover_07b.jpg?v=1711458852');
  background-size: 100vw 100vh;
  /* Ajusta el tamaño: 100% del ancho y 80% de la altura del viewport */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  transition: background 0.3s ease;
  background-color: var(--bg-color, rgba(0, 0, 0, 0));
}



body {
  background-color: rgba(0, 0, 0, var(--bg-opacity)) !important;
  transition: background-color 0.5s ease;
}

.separator {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}